{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
  <div class="row justify-content-center">
    <div class="">
      <div class="card shadow-lg border-0">
        <div class="card-body p-4">
          <!-- Login Header -->
          <h4 class="text-center text-primary mb-4">
            <p>Thank you for registering!
            </p>
          </h4>

          <div class="mt-3 text-center">
            <p>Your account has been created successfully.<i class="bx bx-heart"></i></p>
            <p>Now you can Login:</p>
          </div>

          <!-- Login Button -->
           <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
