{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-5">
  <!-- About Us Section -->
  <div class="row justify-content-center mb-5">
    <div class="col-md-10 col-lg-10">
        <div class="card shadow-sm">
          <div class="card-body">
          <h4 class="card-title text-info mb-3">About Us</h4>
          <p>Welcome to our healthcare institution! We are dedicated to providing top-notch medical care and compassionate service to our community.</p>
          <p>Our team of experienced professionals works tirelessly to ensure that you and your loved ones receive the best possible care. From routine checkups to specialized treatments, we are here for you every step of the way.</p>
          <p>Our mission is to enhance the health and well-being of our patients through innovation, empathy, and excellence. Thank you for trusting us with your care.</p>
        </div>
      </div>
    </div>
  </div>

 <!-- Team Section -->
 <div class="container py-5">
    <div class="text-center mb-4">
      <h4 class="text-info">Meet Our Team</h4>
    </div>
    <div class="row g-4 justify-content-center">
      {% for doctor in doctors %}
      <div class="col-6 col-md-4 col-lg-3 text-center">
        <img src="{% static 'images/accounts/user.png' %}"  alt="" class="rounded-circle mb-2" width="100" height="100">
        <h5 class="fw-bold mb-0 text-info">{{ user.first_name }} {{ user.last_name }}</h5>
        <h6 class="fw-bold mb-0">{{doctor.speciality}}</h6>
      </div>
      {%  endfor %}

{% endblock %}

