{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
    <div class="card">
        <h4>Contacts</h4>
        <p>If you have any questions or need assistance, feel free to reach out to us:</p>

        <ul>
            <li><strong>Phone:</strong> +370 61549 811</li>
            <li><strong>Email:</strong> <a href="mailto:pandi@health.com">pandi@health.com</a></li>
            <li><strong>Address:</strong> 13 Health Street, Wellness City, Country</li>
        </ul>

        <h5 style="margin-top: 20px; text-align:center;">Working Hours</h5>
            <table style="width: 100%; margin-top: 10px; text-align: center;">
                <tr>
                    <td>Monday</td>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>11:00 AM - 3:00 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
            </table>

        <!-- Contact Form Button -->
        <p style="text-align: center; margin-top: 20px;">
            <a href="" class="btn btn-primary">Contact Form</a>
        </p>
    </div>
</div>

{% endblock %}