body {
    font-family: Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    /* background: #d6e4f0; */
    background: url("/static/images/dashboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main";
    grid-template-rows: 1fr 8fr ;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    padding: 20px;
}

header {
    grid-area: header;
    background: #c2cfdac0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
    background:#c2cfdac0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    display: block;

}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks, .patients {
    background: #d0dde8e7;
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1;
}

.patients {
    overflow-x: auto;
}

.patients table {
    width: 100%;
    border-collapse: collapse;
}

.patients table th, .patients table td {
    border: 1px solid #2c2b2be0;
    padding: 8px;
    text-align: left;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #586e75;
    font-weight: bold;
}
