<div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Pandi's Health.</p>
        </div>

        <div class="nav-menu">
        <ul>
            <li><a hfef="#" class="link">Home</a></li>
            <li><a hfef="#" class="link">About Us</a></li>
            <li><a hfef="#" class="link">Service</a></li>
            <li><a hfef="#" class="link">Contact</a></li>
        </ul>
        </div>
        
        <div class="nav-button">
            <a href="{% url 'login' %}" class="btn white-btn" id="loginBtn">Sign In</a>
            <a href="{% url 'register' %}" class="btn btn-outline-light" id="registerBtn">Register</a>
        </div>

        <div class="nav-menu-btn">
            <i class="bx bx-menu"></i>
        </div>
        
    </nav>
    </div>